/* ---- static (default) --- */
/*#box_1 { 
	position: static;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}

#box_2 { 
	position: static;
	width: 200px;
	height: 200px;
	background: #44accf;
}

#box_3 { 
	position: static;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}*/

/* ---- relative --- */
/*#box_1 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}

#box_2 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #44accf;
}

#box_3 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}
*/

/*You can adjust a relatively positioned 
element with offset properties: top, right, 
bottom, and left. 
*/

/* ---- relative with positioning --- */
/*#box_1 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}

#box_2 { 
	position: relative;
	left: 200px;
	width: 200px;
	height: 200px;
	background: #44accf;
}

#box_3 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}*/

/* 
Unlike the static and relative values, 
an absolutely positioned element is removed 
from the normal flow. This means you can put 
it anywhere, and it won’t affect or be affected 
by any other element in the flow. Think of it 
as an element with a giant strip of velcro on 
its back. Just tell it where to stick and it 
sticks. Exactly like the relative value, 
absolutely positioned elements respond to offset 
properties for positioning. You can set an 
element to top: 100px and left: 200px; and that 
element will sit exactly 100px from the top and 
200px from the left of the document.
*/

/* ---- absolute --- */
#box_1 { 
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}
#box_2 { 
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background: #44accf;
}
#box_3 { 
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}
#box_4 { 
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background: #ebde52;
}

/* 
A border offset 10 pixels by the 
document, and it’s entirely fluid 
as the document resize—all with 
absolute positioning and offsets. 
*/
/*#box_a { 
	position: absolute; 
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px; 
	background: red; 
}
#box_b { 
	position: absolute; 
	top: 20px;
	right: 20px; 
	bottom: 20px; 
	left: 20px; 
	background: white;
}*/

/*
A two-column layout that fills the 
entire height of the document.
A full-screen, two-column layout. 
While this likely isn’t the best 
approach to a two-column layout, 
it still shows the power the absolute 
value holds. 
*/
/*#box_1 { 
	position: absolute;
	top: 0;
	right: 20%; 
	bottom: 0;
	left: 0;
	background: #ee3e64;
}

#box_2 { 
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 80%; 
	background: #b7d84b;
}*/

/*
I use only one offset, left: 100px;. 
This allows the #box_2 element to 
maintain its top edge and still shift 
100 pixels to the left. 
*/
/*#box_1 { 
	width: 200px;
	height: 200px;
	background: #ee3e64;
}
#box_2 { 
	position: absolute;
	left: 100px;
	width: 200px;
	height: 200px;
	background: #44accf;
}*/

/*
After applying a second offset to the top, 
you can see that our blue block (#box_2) 
is pulled to the top of the document. 
*/
/*#box_1 { 
	width: 200px;
	height: 200px;
	background: #ee3e64;
}
#box_2 { 
	position: absolute;
	top: 0;
	left: 100px;
	width: 200px;
	height: 200px;
	background: #44accf;
}*/

/*
An element with position: fixed shares 
all the rules of an absolutely positioned 
element, except that the viewport 
(browser/device window) positions the fixed 
element, as opposed to any parent element. 
Additionally, a fixed element does not scroll 
with the document. It stays, well…fixed. 
*/
/*#box_2 { 
	position: absolute;
	top: 0;
	left: 100px;
	width: 200px;
	height: 200px;
	background: #44accf;
}*/

